<div class='container'>
  <%= link_to 'Show all lists', lists_path, class: 'btn btn-warning'%>
  <h1><%= @list.name %></h1>
  <li><% @list.bookmarks.each do |bookmark| %>
    <p><%= bookmark.movie.title %></p>
    <img src = <%= bookmark.movie.poster_url %> style="width:200px;border:0;">
    <p><%= bookmark.movie.rating %></p>
    <p><%= bookmark.movie.overview %></p>
    <p><%= bookmark.comment %></p>
  <% end %>
  </li>
  <%# <button class='btn-warning'>Show all lists</button> %>

  <%# link_to lists_path do %>
    <%# <button class='btn btn-primary'>Show all lists</button> %>
  <%# end %>

  <%= link_to 'Add film to this list', bookmark_path(@list), class: 'btn btn-warning'%>

</div>
